
/** Layout Client **/
    body{
        background-color: #E9E9E9;
        color: #545454 !important;
    }

    /** Start Main Menu **/
        body header{
            margin-bottom: 0;
            border: none;
            min-height: 50px;
            border-radius: 0;
            position: fixed;
            width: 100%;
            z-index: 100;
        }
        body header nav{
            border: none !important;
            margin-bottom: 0 !important;
        }
        nav div.container-fluid,
        nav div.mobile-menu,
        a.btn-red{
            background-color: rgb(247,101,101);
        }
        nav div.mobile-menu{
            width: 50%;
            margin-left: 30px;
            padding-left: 20px;
            padding-top: 1px;
            padding-bottom: 5px;
            display: inline-block;
        }
        nav div.mobile-menu > ul,
        nav div.mobile-menu > ul > li{
            width: 100%;
        }
        nav div.mobile-menu > ul{
            margin-left: -10px;
        }
        nav div.container-fluid > div.navbar-header a.navbar-brand,
        nav div.container-fluid > div.mobile-bars > a > i,
        nav div.mobile-menu ul > li > a{
            color: #FFF;
            text-decoration: none;
        }
        nav div.container-fluid > div.navbar-right{
            height: 50px;
            max-height: 50px;
        }
        nav div.container-fluid > div.navbar-right > ul.nav li,
        nav div.container-fluid > div.mobile-bars > a > i{
            margin-right: 2px;
        }
        nav div.container-fluid > div.navbar-right > a{
            display: inline-block;
        }
        nav div.container-fluid > div.navbar-right > ul.nav > li > a,
        nav div.container-fluid > div.navbar-left > a,
        nav div.container-fluid > div.navbar-right > a{
            color: #FFF;
            font-weight: bold;
        }
        nav div.container-fluid > div.navbar-right > ul.nav > li > a.shopping-cart,
        nav div.container-fluid > div.mobile-bars > a > i,
        nav div.container-fluid > div.navbar-right > a{
            padding: 11px 8px 10px 8px;
        }
        nav div.container-fluid > div.navbar-right > ul.nav > li > a:hover,
        nav div.container-fluid > div.mobile-bars > a > i:hover,
        nav div.container-fluid > div.navbar-right > a:hover,
        nav div.mobile-menu > ul > li > a:hover{
            background-color: #F55353;
        }
        nav div.mobile-menu{
            border: 1px solid #E95555;
            border-top: none;
        }
        nav div.container-fluid > div.navbar-right > ul.nav > li > a:active,
        nav div.container-fluid > div.navbar-right > ul.nav > li > a.active,
        nav div.container-fluid > div.navbar-right > a.active,
        nav div.mobile-menu > ul > li > a.active,
        a.btn-red:hover{
            background-color: rgb(255,144,138);
            color: #FFF;
        }
        .navbar-right{
            margin-right: 0;
        }
        
        @media (max-width: 767px) {
            .col-xs-offset-2 {
                margin-left: 16.66666667% !important;
            }
            .col-xs-offset-3 {
                margin-left: 25% !important;
            }
            .col-xs-offset-4 {
                margin-left: 33.33333333% !important;
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .col-sm-offset-2 {
                margin-left: 16.66666667% !important;
            }
            .col-sm-offset-3 {
                margin-left: 25% !important;
            }
            .col-sm-offset-4 {
                margin-left: 33.33333333% !important;
            }
        }
    /** End Main Menu **/
    
    /** Start Footer **/
        body footer{
            background-color: rgb(247,101,101);
            height: 100px;
            display: block;
            text-align: center;
            color: #FFF;
            padding-top: 25px;
        }
    /** End Footer **/

    /** Start Main Content **/
        section.content{
            padding-top: 70px;
            margin-right: 0;
            margin-left: 0;
            background-color: #FFF;
        }
        /** Start Aside **/
            section.row div.sidebar-menu{
                border-right: 2px solid rgb(221,221,221);
            }
            section.content > .sidebar-menu > h2{
                font-weight: bold;
                margin-top: 1px;
            }
            section.content ul.list-group li{
                position: relative;
                display: block;
                margin-bottom: -1px;
            }
            section.content ul.list-group li > a{
                color: #333;
                display: block;
                padding: 10px 15px;
            }
            section.content ul.list-group li > a:hover{
                background-color: #EEE;
                text-decoration: none;
            }
        /** End Aside **/
        
        /** Start Content **/
            h1{
                margin-top: 0;
            }
            div.main-image div.banner-title{
                position: absolute;
                height: 59px;
                background-color: rgb(74,74,74);
                opacity: 0.5;
                padding: 13px;
            }
            div.main-image div.banner-title span{
                color: #FFF;
                font-size: 23px;
            }
            div.main-image img{
                width: 100%;
                height: auto;
                max-height: 350px;
            }
            h4.panel-title{
                font-size: 20px;
                color: #FFF;
            }
            div.panel{
                padding: 10px 15px;
                margin-top: 0;
            }
            div.panel > .panel-heading{
                padding: 0;
            }
            div.panel > .panel-collapse{
                border: 1px solid rgb(221,221,221);
            }
            div.panel-heading a{
                background-color: rgb(247,101,101);
                display: block;
                height: 100%;
                color: #FFF;
                text-decoration: none;
                padding: 10px;
                font-size: 18px;
            }
            div.panel-heading a:hover{
                background-color: #F55353;
            }
            article.ficha-sushi{
                margin-top: 20px;
                height: 370px;
            }
            article.ficha-sushi > .ficha-imagen{
                position: relative;
            }
            article.ficha-sushi > .ficha-imagen > p.price{
                position: absolute;
                right: 0;
                bottom: 0;
                color: #FFF;
                font-size: 20px;
                margin-bottom: 2px;
                margin-right: 7px;
                font-weight: bold;
            }
            article.ficha-sushi > .ficha-imagen > img{
                width: 100%;
                height: 149px;
            }
            article.ficha-sushi > div.ficha-descripcion{
                border: 1px solid rgb(221,221,221);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 0 14px;
                height: 220px;
            }
            article.ficha-sushi > div.ficha-descripcion > div{
                text-align: center;
            }
            article.ficha-sushi > div.ficha-descripcion > div > a,
            a.btn-red{
                padding: 5px 15px;
                background-color: rgb(247,101,101);
                color: #FFF;
                text-decoration: none;
                border-radius: 4px;
                width: 143px;
                display: inline;
            }
            article.ficha-sushi > div.ficha-descripcion p.nombre-sushi{
                font-size: 18px;
            }
            article.ficha-sushi > div.ficha-descripcion p.sushi-desc{
                line-height: 18px;
                text-align: justify;
                max-height: 135px;
                height: 135px;
            }
            article.ficha-sushi > div.ficha-descripcion a:hover{
                background-color: rgb(255,144,138);
            }
            a.btn-red{
                padding-bottom: 8px;
                padding-top: 8px;
            }
            div.box,
            div.login-box{
                border: 1px solid #DDD;
            }
            div.box > .box-header{
                padding-left: 15px;
                padding-right: 15px;
            }
            div.box > .box-header,
            div.login-box > .login-box-header{
                text-align: center;
                color: #FFF;
                height: 70px;
                background-color: rgb(247,101,101);
                padding-top: 20px;
                padding-bottom: 15px;
            }
            div.box > .box-header{
                text-align: left;
            }
            div.login-box > .login-box-header > span{
                font-size: 23px;
                font-weight: bold;
            }
            div.login-box > .login-box-content{
                padding: 25px 20px;
            }
            div.login-box > .login-box-content > form > .alert{
                text-align: center;
            }
            div.login-box > .login-box-content > form > p.registro-text{
                color: #90a6d6;
                font-size: 12px;
                width: 40%;
                display: inline-block;
            }
            div.login-box > .login-box-content > form > div.submit{
                display: inline-block;
                width: 50%;
                text-align: right;
            }
            div.login-box > .login-box-content > form > p.registro-text > a{
                color: #90a6d6;
                text-decoration: underline;
            }
            div.login-box > .login-box-content > form > div.form-group{
                padding-left: 10%
            }
            div.login-box > .login-box-content > form > div.form-group > label{
                width: 170px;
            }
            div.login-box > .login-box-content > form > div.form-group > input[type=text],
            div.login-box > .login-box-content > form > div.form-group > input[type=password],
            div.login-box > .login-box-content > form > div.form-group > input[type=number],
            div.login-box > .login-box-content > form > div.form-group > input[type=email],
            div.login-box > .login-box-content > form > div.form-group > select{
                width: 60%;
            }
            div.login-box > .login-box-content > form > div.form-group input[type=checkbox],
            div.login-box > .login-box-content > form > div.form-group input[type=radio]{
                color: #575757;
            }
            input[type=text],
            input[type=password],
            input[type=number],
            input[type=email],
            select{
                border: 1px solid #C9C9C9;
                color: #575757;
                padding: 3px 7px;
            }
            .modal-header{
                background-color: rgb(247,101,101);
                color: #FFF;
                font-weight: bold;
            }
            .has-error{
                border: 1px solid #fc635b !important;
            }
        /** End Content **/
    
    /** End Main Content **/
    
.fixed-padding{
    padding-top: 40px;
    padding-bottom: 50px; 
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}